<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TahweshaJava"
        tools:targetApi="31">

        <activity
            android:name=".view.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.OnBoarding_1"
            android:exported="false">
        </activity>

        <activity
            android:name=".view.OnBoarding_2"
            android:exported="false">
        </activity>

        <activity
            android:name=".view.OnBoarding_3"
            android:exported="false">
        </activity>

        <activity
            android:name=".view.SignUp"
            android:exported="false">
        </activity>

        <activity
            android:name=".view.Registration_Success"
            android:exported="false">
        </activity>

        <activity
            android:name=".view.Email_verification_Sent"
            android:exported="false">
        </activity>

        <activity
            android:name=".view.Get_Started_Guide"
            android:exported="false">
        </activity>

        <activity
            android:name=".view.Get_Started_Guide_2"
            android:exported="false">
        </activity>

        <activity
            android:name=".view.Get_Started_Guide_3"
            android:exported="false">
        </activity>

        <activity
            android:name=".view.LogIn"
            android:exported="false">
        </activity>

        <activity
            android:name=".view.Forgot_Password"
            android:exported="false">
        </activity>

        <activity
            android:name=".view.Forgot_Password_Email_Sent"
            android:exported="false">
        </activity>

        <activity
            android:name=".view.Setup_Account"
            android:exported="false">
        </activity>

        <activity
            android:name=".view.Setup_Mono"
            android:exported="false">
        </activity>

        <activity
            android:name=".view.Home"
            android:exported="false">
        </activity>

        <activity
            android:name=".view.Home_1"
            android:exported="false">
        </activity>

        <activity
            android:name=".view.Account"
            android:exported="false">
        </activity>

        <activity
            android:name=".view.MyAccount"
            android:exported="false">
        </activity>

        <activity
            android:name=".view.Sorting_Transactions"
            android:exported="false">
        </activity>

        <activity
            android:name=".view.Transaction_Sorted_Out"
            android:exported="false">
        </activity>

        <activity
            android:name=".view.Budget"
            android:exported="false">
        </activity>

        <activity
            android:name=".view.Transactions"
            android:exported="false">
        </activity>

        <activity
            android:name=".view.Transactions_Details"
            android:exported="false">
        </activity>

        <activity
            android:name=".view.Transactions_Filter"
            android:theme="@style/Theme.TahweshaJava.PopUp"
            android:exported="false">
        </activity>

        <activity
            android:name=".view.Notification"
            android:exported="false">
        </activity>

    </application>

</manifest>